<html>
<head> 
	<title>Todo List</title> 
</head>

<h3> Kelly Zhou </h3>
	<p><%= link_to "Users", users_path %> 
	<p><%= link_to "New User", new_user_path %>
	<br/><br/>
	<img src="http://25.media.tumblr.com/tumblr_lt4bdjf6EM1qbymhco1_500.gif"/>
	
</html>