<h1><span class="glyphicon glyphicon-user"></span> Users List</h1>

<table class="table table-hover">
 <thead>
 	<tr>
 		<td>Email</td>
 		<td>Action</td>
 	</tr>
 </thead>
 <tbody>
 	<% @users.each do |user| %>
 	<tr>
 		<td><%= user.email %></td>
 		<% if user == current_user %>
 		<td><%= link_to "Edit/Cancel Account", edit_user_registration_path, :class => 'btn btn-mini btn-warning' %> 
 		<% else %>
 		<td>Cannot edit other users</td>
 		<% end %>
 	</tr>
 	<% end %>
 </tbody>
</table>


