// Place all the styles related to the LandingPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	padding-top: 0px;
	padding-bottom: 40px;
	background-color: white;
}
.login-box {
	max-width: 330px;
	margin: 0 auto;
}
.login-box .form-control {
	margin-bottom: 10px;
}

.box {
  background-color: #D7DBF8;
  padding: 19px;
  min-height: 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}